<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <testsuites>
        <testsuite name="p810/mysql-helper Unit Tests">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="database_credentials" value=".db.env" />
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
